Flask
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
Flask-Cors
Flask-Bcrypt
python-dotenv
Authlib
psycopg2-binary
requests
redis
datetime
prometheus-flask-exporter
json_log_formatter
prometheus-client==0.19.0